.bar-text {
    font-size: 15px;
}

.bar-shortcut {
    font-size: 10px;
    color: yellow;
}

.selected {
    background: black;
    font-size: 17px;
}

.shortcut-cmd {
    visibility: hidden;
    font-size: 0px;
}